In [1]:
# importing lib and loading dataset
import pandas as pd
dataset= pd.read_csv('CKD.csv')
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [2]:
# check the dataset for null vlaues
dataset.isna().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [3]:
# to get the col names
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [4]:
# drop the unwanted col names
df =dataset.drop(['su','pc','pcc','bgr','sod','pot','htn','dm','cad','ba','bu','pcv'],axis = 1)

In [5]:
df

,age,bp,sg,al,rbc,sc,hrmo,wc,rc,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,normal,3.077356,12.518156,8408.191126,4.705597,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,normal,0.700000,10.700000,12300.000000,4.705597,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,normal,0.600000,12.000000,8408.191126,4.705597,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,normal,0.700000,8.100000,8408.191126,4.705597,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,normal,0.600000,11.800000,12400.000000,4.705597,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,normal,1.300000,12.500000,9800.000000,4.400000,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,normal,2.800000,8.700000,8408.191126,4.705597,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,normal,6.000000,9.100000,9200.000000,3.400000,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,normal,6.800000,8.500000,8408.191126,4.705597,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,normal,1.000000,16.300000,8500.000000,4.900000,yes,poor,no,no

In [6]:
# changing categorical value to numeric value

df = pd.get_dummies(df, drop_first=True)
df = df.astype(int)
df

,age,bp,al,sc,hrmo,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,appet_yes,pe_yes,ane_yes,classification_yes
0,2,76,3,3,12,8408,4,0,1,0,0,1,1,1,0,1
1,3,76,2,0,10,12300,4,0,1,0,0,1,1,0,0,1
2,4,76,1,0,12,8408,4,0,0,0,0,1,1,0,0,1
3,5,76,1,0,8,8408,4,0,0,1,0,1,1,0,1,1
4,5,50,0,0,11,12400,4,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51,70,0,1,12,9800,4,0,0,0,0,1,1,0,0,1
395,51,70,0,2,8,8408,4,0,1,0,0,1,1,0,1,1
396,51,70,3,6,9,9200,3,0,1,0,0,1,0,0,0,1
397,51,90,0,6,8,8408,4,0,0,0,0,1,1,0,1,1
398,51,80,0,1,16,8500,4,0,0,0,0,1,1,0,0,0

In [7]:
# to find the unique value
df['classification_yes'].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [8]:
df.columns

Index(['age', 'bp', 'al', 'sc', 'hrmo', 'wc', 'rc', 'sg_b', 'sg_c', 'sg_d',
       'sg_e', 'rbc_normal', 'appet_yes', 'pe_yes', 'ane_yes',
       'classification_yes'],
      dtype='object')

In [12]:
# rename the column
df =df.rename(columns ={'classification_yes':'Classification'})

In [13]:
df.columns

Index(['age', 'bp', 'al', 'sc', 'hrmo', 'wc', 'rc', 'sg_b', 'sg_c', 'sg_d',
       'sg_e', 'rbc_normal', 'appet_yes', 'pe_yes', 'ane_yes',
       'Classification'],
      dtype='object')

In [14]:
# to split the input and output
independent =df[['age', 'bp', 'al', 'sc', 'hrmo', 'wc', 'rc', 'sg_b', 'sg_c', 'sg_d',
                 'sg_e', 'rbc_normal', 'appet_yes', 'pe_yes', 'ane_yes']]
dependent = df[['Classification']]

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(independent,dependent,test_size =0.30, random_state = 0)
X_train

,age,bp,al,sc,hrmo,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,appet_yes,pe_yes,ane_yes
92,41,80,1,18,12,8408,4,0,0,1,0,0,1,0,0
223,57,80,0,1,14,6600,5,0,0,0,0,1,1,0,0
234,59,100,4,12,7,9800,3,0,0,1,0,1,1,0,1
232,59,70,0,1,9,6000,4,0,0,0,0,1,1,0,0
336,70,80,0,3,10,8408,4,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,68,70,0,4,9,8408,4,0,0,0,0,1,0,1,0
192,54,90,1,1,12,8408,4,1,0,0,0,1,0,1,1
117,45,80,0,1,11,10200,4,0,0,1,0,1,1,0,0
47,30,80,0,0,16,10200,5,0,0,0,0,1,1,0,0
172,51,60,0,1,17,8100,5,0,0,0,0,1,1,0,0

In [17]:
X_test

,age,bp,al,sc,hrmo,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,appet_yes,pe_yes,ane_yes
132,46,70,0,0,16,5700,6,1,0,0,0,1,1,0,0
309,66,90,2,3,12,8408,4,0,0,1,0,1,0,0,0
334,69,70,0,1,16,9300,5,0,0,0,0,1,1,0,0
196,55,100,1,2,11,13600,4,0,0,1,0,1,1,0,0
246,60,90,2,2,11,10500,4,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,57,90,5,13,8,4200,3,0,0,1,0,0,0,1,1
259,61,60,0,1,9,8400,3,1,0,0,0,1,1,0,1
49,30,60,0,0,13,10700,5,1,0,0,0,1,1,0,0
238,59,60,0,1,15,6500,4,0,0,0,0,1,1,0,0
342,70,60,0,0,16,4500,4,0,0,0,0,1,1,0,0

In [18]:
Y_test

     Classification
132               0
309               1
334               0
196               1
246               1
..              ...
216               1
259               1
49                0
238               0
342               0

[120 rows x 1 columns]

In [22]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100,criterion='gini',max_features='sqrt')
classifier = classifier.fit(independent, dependent)
classifier

C:\Anaconda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [25]:
test_pred = classifier.predict(X_test)
test_pred

array([0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0])

In [28]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,test_pred)
r2

1.0

In [29]:
import pickle
filename = 'CKDRandomForest.sav'

In [32]:
pickle.dump(classifier,open(filename,'wb'))
load_model = pickle.load(open('CKDRandomForest.sav','rb'))

In [35]:
result = load_model.predict([['41','80','1','18','12','408','4','0','0','1','0','1','0','1','0']])

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [36]:
result

array([1])

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':[10,50,100],
             'criterion':['gini','entropy','log_loss'],
             'max_features':['sqrt','log2']}
grid = GridSearchCV(RandomForestClassifier(), parameters, refit =True, verbose = 3, n_jobs = -1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Anaconda\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [41]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}

In [44]:
classifier = grid.cv_results_
classifier
print("The R score value for best paramater: ",format(grid.best_params_))

The R score value for best paramater:  {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}

In [46]:
table = pd.DataFrame.from_dict(classifier)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.032083,0.001958,0.006585,0.000485,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.9375,1.0000,0.9750,1.0000,0.987342,0.979968,0.023174,2
1,0.094565,0.004960,0.012497,0.006248,gini,sqrt,50,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.9375,1.0000,0.9750,1.0000,0.974684,0.977437,0.022920,9
2,0.185198,0.007754,0.020341,0.008184,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.9500,1.0000,0.9750,1.0000,0.987342,0.982468,0.018700,1
3,0.025899,0.003842,0.000000,0.000000,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.9500,1.0000,0.9875,0.9875,0.974684,0.979937,0.016975,5
4,0.101032,0.011025,0.016532,0.009408,gini,log2,50,"{'criterion': 'gini', 'max_features': 'log2', ...",0.9250,1.0000,0.9750,1.0000,0.974684,0.974937,0.027386,11
5,0.185866,0.002282,0.021870,0.007653,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.9125,1.0000,0.9750,1.0000,0.987342,0.974968,0.032584,10
6,0.027607,0.009049,0.008512,0.002463,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.8500,1.0000,0.9875,1.0000,0.860759,0.939652,0.069043,18
7,0.090604,0.004801,0.014599,0.002046,entropy,sqrt,50,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.9125,1.0000,0.9750,1.0000,0.898734,0.957247,0.043352,15
8,0.187388,0.009443,0.021325,0.006898,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.9375,1.0000,0.9750,1.0000,0.987342,0.979968,0.023174,2
9,0.016779,0.002630,0.009373,0.007653,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.9375,1.0000,0.9625,1.0000,0.848101,0.949620,0.056027,17
10,0.097329,0.006413,0.014603,0.008362,entropy,log2,50,"{'criterion': 'entropy', 'max_features': 'log2...",0.9375,1.0000,0.9750,1.0000,0.987342,0.979968,0.023174,2
11,0.195998,0.006989,0.019973,0.005742,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.9250,1.0000,0.9750,1.0000,0.987342,0.977468,0.027828,7
12,0.017607,0.004322,0.011033,0.007046,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.8875,0.9875,0.9750,1.0000,0.987342,0.967468,0.040758,14
13,0.100375,0.008405,0.013298,0.006828,log_loss,sqrt,50,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.9500,1.0000,0.9750,1.0000,0.974684,0.979937,0.018726,5
14,0.188533,0.005651,0.019336,0.009280,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.9250,1.0000,0.9750,1.0000,0.962025,0.972405,0.027874,13
15,0.025075,0.007718,0.003124,0.006248,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.8250,1.0000,0.9500,1.0000,0.987342,0.952468,0.066316,16
16,0.101799,0.007148,0.008726,0.007150,log_loss,log2,50,"{'criterion': 'log_loss', 'max_features': 'log...",0.9250,1.0000,0.9750,1.0000,0.987342,0.977468,0.027828,7
17,0.166305,0.013356,0.012752,0.003129,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.9250,1.0000,0.9750,1.0000,0.974684,0.974937,0.027386,11

In [47]:
df.columns

Index(['age', 'bp', 'al', 'sc', 'hrmo', 'wc', 'rc', 'sg_b', 'sg_c', 'sg_d',
       'sg_e', 'rbc_normal', 'appet_yes', 'pe_yes', 'ane_yes',
       'Classification'],
      dtype='object')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             399 non-null    int32
 1   bp              399 non-null    int32
 2   al              399 non-null    int32
 3   sc              399 non-null    int32
 4   hrmo            399 non-null    int32
 5   wc              399 non-null    int32
 6   rc              399 non-null    int32
 7   sg_b            399 non-null    int32
 8   sg_c            399 non-null    int32
 9   sg_d            399 non-null    int32
 10  sg_e            399 non-null    int32
 11  rbc_normal      399 non-null    int32
 12  appet_yes       399 non-null    int32
 13  pe_yes          399 non-null    int32
 14  ane_yes         399 non-null    int32
 15  Classification  399 non-null    int32
dtypes: int32(16)
memory usage: 25.1 KB

In [50]:
age = int(input("Age: "))
bp = int(input('BP: '))
al = int(input('al:'))
sc= int(input('sc:'))
hrmo = int(input('hrmo:'))
wc = int(input('wc:'))
rc= int(input('rc:'))
sg_b = int(input('sg_b:'))
sg_c = int(input('sg_c:'))
sg_d = int(input('sg_d:'))
sg_e = int(input('sg_e:'))
rbc_normal = int(input('rbc_normal:'))
appet_yes = int(input('appet_yes:'))
pe_yes = int(input('pe_yes:'))
ane_yes = int(input('ane_yes:'))

Age: 50
BP: 56
al:8
sc:9
hrmo:7
wc:1
rc:0
sg_b:1
sg_c:0
sg_d:0
sg_e:0
rbc_normal:299
appet_yes:8
pe_yes:0
ane_yes:0

In [52]:
Final_pred = grid.predict([[age,bp,al,sc,hrmo,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,appet_yes,pe_yes,ane_yes]])

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [55]:
print("Final Prediction of random forest: {}".format(Final_pred))

Final Prediction of random forest: [1]

In [56]:
import pickle
filename ='RFGrid.sav'

In [61]:
pickle.dump(grid,open(filename,'wb'))
load_model=pickle.load(open('RFGrid.sav','rb'))
result =load_model.predict([[1,1,50,0,0,1,1,1,1,1,1,1,1,1,1]])

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [62]:
result

array([1])

In [63]:
grid_pred = grid.predict(X_test)

In [64]:
grid_pred

array([0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0])

In [66]:
from sklearn.metrics import confusion_matrix
cat_mat = confusion_matrix(Y_test,grid_pred)
cat_mat

array([[45,  0],
       [ 0, 75]], dtype=int64)

In [67]:
from sklearn.metrics import classification_report
class_report = classification_report(Y_test,grid_pred)

In [69]:
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        45
           1       1.00      1.00      1.00        75

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120

In [72]:
from sklearn.metrics import f1_score
f1_macro = f1_score(Y_test, grid_pred,average ='weighted')
f1_macro

1.0

In [73]:
from sklearn.metrics import roc_auc_score #Receiver Operating Characteristic Curve, Area Under the curve
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1]) # to get a greater probability value, [:,1][R,C]

1.0