In [1]:
#import libraries
import pandas as pd

In [2]:
#load and read the dataset
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# to find number of rows and col's
no_of_rows_and_col=dataset.shape
print("Number of rows and columns:",no_of_rows_and_col)
# Here the number of rows = 1338 and the columns = 6

Number of rows and columns: (1338, 6)

In [4]:
#to list the col names
dataset.columns
# here 'age', 'sex', 'bmi', 'children', 'smoker' - are input
#'charges' - are output

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
# preprocessing to convert categorical value to numerical 

dataset.sex[dataset.sex == 'male']=1
dataset.sex[dataset.sex == 'female']=2

dataset.smoker[dataset.smoker == 'yes']=1
dataset.smoker[dataset.smoker == 'no']=0
dataset

C:\Users\HP\AppData\Local\Temp\ipykernel_14776\4071425206.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.sex[dataset.sex == 'male']=1
C:\Users\HP\AppData\Local\Temp\ipykernel_14776\4071425206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.sex[dataset.sex == 'female']=2
C:\Users\HP\AppData\Local\Temp\ipykernel_14776\4071425206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.smoker[dataset.smoker == 'yes']=1
C:\Users\HP\AppData\Local\Temp\ipykernel_14776\4071425206.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.smoker[dataset.smoker == 'no']=0

      age sex     bmi  children smoker      charges
0      19   2  27.900         0      1  16884.92400
1      18   1  33.770         1      0   1725.55230
2      28   1  33.000         3      0   4449.46200
3      33   1  22.705         0      0  21984.47061
4      32   1  28.880         0      0   3866.85520
...   ...  ..     ...       ...    ...          ...
1333   50   1  30.970         3      0  10600.54830
1334   18   2  31.920         0      0   2205.98080
1335   18   2  36.850         0      0   1629.83350
1336   21   2  25.800         0      0   2007.94500
1337   61   2  29.070         0      1  29141.36030

[1338 rows x 6 columns]

In [6]:
# assign input and output value
independent = dataset[['age', 'sex', 'bmi', 'children', 'smoker']]
print(independent)
dependent = dataset[['charges']]
print(dependent)

      age sex     bmi  children smoker
0      19   2  27.900         0      1
1      18   1  33.770         1      0
2      28   1  33.000         3      0
3      33   1  22.705         0      0
4      32   1  28.880         0      0
...   ...  ..     ...       ...    ...
1333   50   1  30.970         3      0
1334   18   2  31.920         0      0
1335   18   2  36.850         0      0
1336   21   2  25.800         0      0
1337   61   2  29.070         0      1

[1338 rows x 5 columns]
          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
# spliting training and testing data

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
X_train,X_test,Y_train,Y_test

(      age sex     bmi  children smoker
 1163   18   2  28.215         0      0
 196    39   2  32.800         0      0
 438    52   2  46.750         5      0
 183    44   2  26.410         0      0
 1298   33   1  27.455         2      0
 ...   ...  ..     ...       ...    ...
 763    27   1  26.030         0      0
 835    42   1  35.970         2      0
 1216   40   1  25.080         0      0
 559    19   1  35.530         0      0
 684    33   2  18.500         1      0

 [936 rows x 5 columns],
       age sex     bmi  children smoker
 578    52   1  30.200         1      0
 610    47   2  29.370         1      0
 569    48   1  40.565         2      1
 1034   61   1  38.380         0      0
 198    51   2  18.050         0      0
 ...   ...  ..     ...       ...    ...
 1261   28   1  37.100         1      0
 494    21   1  25.700         4      1
 97     55   1  38.280         0      0
 418    64   1  39.160         1      0
 920    62   2  25.000         0      0

 [402 rows x 5 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [11]:
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor(random_state=0, n_estimators=50)
regressor=regressor.fit(X_train,Y_train)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
# testing
test_pred= regressor.predict(X_test)
test_pred

array([15585.43998096, 13599.0517963 , 46261.53943   , 14444.51254404,
       12907.00232984,  6912.31668256,  5791.61329319, 15585.43998096,
        8687.92288728,  8687.92288728,  6912.31668256, 15585.43998096,
       13599.0517963 ,  6912.31668256, 19817.40194324, 15585.43998096,
       14444.51254404,  8687.92288728,  6912.31668256, 37907.74005909,
       26387.57288333, 16708.77857483, 14444.51254404, 26387.57288333,
        8687.92288728,  8687.92288728,  6912.31668256,  8687.92288728,
        6912.31668256, 13599.0517963 ,  6912.31668256, 46261.53943   ,
       14444.51254404, 14444.51254404, 19817.40194324,  6912.31668256,
       13599.0517963 , 37907.74005909, 43046.68604803,  8687.92288728,
        6912.31668256,  6912.31668256, 19817.40194324, 46261.53943   ,
       37907.74005909,  8687.92288728, 15585.43998096,  6912.31668256,
        6912.31668256, 16708.77857483,  8687.92288728,  5791.61329319,
       26387.57288333, 46261.53943   , 14444.51254404,  8687.92288728,
        8687.92288728, 12907.00232984, 13599.0517963 , 16708.77857483,
        5791.61329319, 46261.53943   , 16708.77857483, 15585.43998096,
       13599.0517963 , 15585.43998096, 37427.68127192, 43046.68604803,
        5791.61329319,  8687.92288728, 14444.51254404, 16708.77857483,
       19235.18177276, 14444.51254404, 14444.51254404, 14444.51254404,
       12907.00232984, 13599.0517963 , 19817.40194324, 46261.53943   ,
       14444.51254404, 46261.53943   ,  8687.92288728, 13599.0517963 ,
       46261.53943   , 19817.40194324,  8687.92288728,  8687.92288728,
       16708.77857483, 37907.74005909,  8687.92288728, 14444.51254404,
        8687.92288728, 13599.0517963 ,  8687.92288728,  8687.92288728,
       46261.53943   , 46261.53943   ,  8687.92288728, 14444.51254404,
        8687.92288728,  8687.92288728,  8687.92288728, 43046.68604803,
       26387.57288333,  6912.31668256, 14444.51254404,  8687.92288728,
       14444.51254404, 46261.53943   , 15585.43998096,  8687.92288728,
       13599.0517963 , 37907.74005909, 46261.53943   ,  6912.31668256,
        5791.61329319, 12907.00232984, 16708.77857483, 13599.0517963 ,
       46261.53943   , 14444.51254404, 14444.51254404,  8687.92288728,
       13599.0517963 ,  6912.31668256, 26387.57288333, 26387.57288333,
       46261.53943   ,  8687.92288728, 13599.0517963 ,  8687.92288728,
        8687.92288728, 12907.00232984, 27563.07714242, 43046.68604803,
       26387.57288333, 15585.43998096, 26387.57288333,  5791.61329319,
        8687.92288728, 14444.51254404, 13599.0517963 , 14444.51254404,
        6912.31668256, 14444.51254404, 16708.77857483,  5791.61329319,
        5791.61329319, 15585.43998096,  6912.31668256, 37907.74005909,
       15585.43998096,  8687.92288728,  8687.92288728,  8687.92288728,
        8687.92288728,  5791.61329319, 15585.43998096, 13599.0517963 ,
        8687.92288728, 14444.51254404, 14444.51254404, 15585.43998096,
        6912.31668256,  8687.92288728, 19235.18177276,  8687.92288728,
        6912.31668256,  8687.92288728,  8687.92288728,  6912.31668256,
       13599.0517963 ,  8687.92288728,  8687.92288728,  8687.92288728,
        6912.31668256,  6912.31668256, 26387.57288333,  5791.61329319,
       15585.43998096,  8687.92288728, 14444.51254404,  8687.92288728,
        6912.31668256, 26387.57288333,  8687.92288728,  5791.61329319,
       14444.51254404, 13599.0517963 , 46261.53943   ,  8687.92288728,
        6912.31668256, 26387.57288333,  8687.92288728,  6912.31668256,
        8687.92288728,  8687.92288728,  8687.92288728,  6912.31668256,
       15585.43998096, 46261.53943   , 16708.77857483, 19817.40194324,
        8687.92288728, 46261.53943   ,  6912.31668256, 14444.51254404,
        8687.92288728,  8687.92288728, 13599.0517963 , 14444.51254404,
        6912.31668256,  8687.92288728,  6912.31668256,  6912.31668256,
        6912.31668256,  6912.31668256, 16708.77857483,  6912.31668256,
        8687.92288728,  6912.31668256, 12907.00232984,  6912.31668256,
       14444.51254404, 14444.51254404, 16708.77857483, 14444.51254404,
        6912.31668256,  6912.31668256,  8687.92288728, 13599.0517963 ,
       14444.51254404,  8687.92288728,  6912.31668256,  8687.92288728,
       13599.0517963 , 37907.74005909,  6912.31668256, 15585.43998096,
        6912.31668256, 37907.74005909,  8687.92288728, 12907.00232984,
       13599.0517963 , 15585.43998096,  5791.61329319, 13599.0517963 ,
        5791.61329319,  6912.31668256, 19817.40194324, 46261.53943   ,
        8687.92288728,  8687.92288728,  5791.61329319,  5791.61329319,
       13599.0517963 ,  8687.92288728,  6912.31668256,  6912.31668256,
       13599.0517963 , 26387.57288333, 46261.53943   , 16708.77857483,
        6912.31668256, 14444.51254404, 37907.74005909, 13599.0517963 ,
       43046.68604803,  8687.92288728, 37907.74005909,  8687.92288728,
       16708.77857483,  6912.31668256, 43046.68604803,  8687.92288728,
       14444.51254404, 13599.0517963 ,  8687.92288728, 16708.77857483,
       14444.51254404,  8687.92288728, 14444.51254404,  8687.92288728,
        8687.92288728,  8687.92288728,  8687.92288728, 26387.57288333,
        8687.92288728,  5791.61329319,  5791.61329319, 46261.53943   ,
       13599.0517963 ,  8687.92288728, 16708.77857483, 16708.77857483,
       37907.74005909,  6912.31668256,  8687.92288728, 12907.00232984,
        8687.92288728,  8687.92288728, 19817.40194324, 19817.40194324,
       14444.51254404,  6912.31668256,  8687.92288728, 13599.0517963 ,
       14444.51254404, 19235.18177276, 19817.40194324,  8687.92288728,
       19235.18177276,  8687.92288728,  8687.92288728,  8687.92288728,
       12907.00232984,  5791.61329319, 12907.00232984, 46261.53943   ,
        8687.92288728,  8687.92288728,  5791.61329319, 12907.00232984,
        8687.92288728, 14444.51254404, 46261.53943   , 19817.40194324,
       13599.0517963 , 46261.53943   , 16708.77857483,  8687.92288728,
       15585.43998096,  8687.92288728, 26387.57288333,  6912.31668256,
       14444.51254404,  5791.61329319, 19235.18177276,  6912.31668256,
       26387.57288333,  8687.92288728,  6912.31668256, 37907.74005909,
        8687.92288728,  6912.31668256, 26387.57288333,  8687.92288728,
       13599.0517963 ,  5791.61329319, 13599.0517963 ,  6912.31668256,
        8687.92288728,  8687.92288728, 46261.53943   , 12907.00232984,
       37427.68127192, 37907.74005909,  6912.31668256,  8687.92288728,
        5791.61329319,  6912.31668256,  8687.92288728, 13599.0517963 ,
       46261.53943   , 14444.51254404,  5791.61329319, 14444.51254404,
        8687.92288728, 12907.00232984,  6912.31668256,  8687.92288728,
        6912.31668256, 37907.74005909,  6912.31668256,  5791.61329319,
       44851.74645036, 16708.77857483, 46261.53943   , 14444.51254404,
        8687.92288728,  5791.61329319,  5791.61329319, 15585.43998096,
        6912.31668256,  8687.92288728, 15585.43998096,  6912.31668256,
        6912.31668256,  6912.31668256,  5791.61329319, 37907.74005909,
        8687.92288728, 12907.00232984,  8687.92288728,  8687.92288728,
       14444.51254404,  8687.92288728, 19235.18177276, 14444.51254404,
       16708.77857483, 14444.51254404])

In [13]:
#Evalution Metrics
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,test_pred)
r2
# r2 should be nearer to 1 here it is not performing good for this dataset

0.8447476929154871